name: branch-naming-rules
on: push
jobs:
  branch-naming-rules:
    runs-on: ${{ vars.RUNNER_SM_NAME }}
    steps:
      - uses: deepakputhraya/action-branch-name@v1.0.0
        with:
          regex: ([a-z])+\/([a-z])+
          allowed_prefixes: feat,feature,fix,bugfix,hotfix,release,dependabot,automation
          ignore: master,develop
          min_length: 5
          max_length: 244
