name: Required Workflows
on: pull_request
jobs:
  branch-naming-rules:
    runs-on: self-hosted
    steps:
      - uses: deepakputhraya/action-branch-name@v1.0.0
        with:
          regex: ([a-z])+\-([a-z])+
          allowed_prefixes: feat,feature,fix,bugfix,hotfix,release,dependabot,automation
          ignore: master,develop
          min_length: 5
          max_length: 244
  xml-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: XML
        uses: anyone-developer/anyone-validate-xml@main
        with:
          file-extension: .config,.xml
          ignore-files: README.md
          ignore-directories: .git
          read-path: .
  yaml-validation:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout-2
        uses: actions/checkout@v3
      - name: Check file existence
        id: CheckFile
        continue-on-error: true
        uses: andstor/file-existence-action@v2
        with:
          files: values.yml
          fail: true
      - name: yaml-lint
        if: steps.CheckFile.outcome == 'success'
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: values.yml
