name: deploy-to-cloudhub

on:
 workflow_call:
  inputs:
   artifactName:
    description: Artifact Name of the Artifact to be deployed
    type: string
    required: true
  secrets:
   ANYPOINT_USERNAME:
    required: true
   ANYPOINT_PASSWORD:
    required: true 
jobs:
 deploy-to-cloudhub:
  runs-on: ubuntu-latest
    steps:    
    - name: Checkout this repo
      uses: actions/checkout@v3
    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-
    - uses: actions/download-artifact@v3
      with:
        name: artifacts
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: 8    
    - name: Deploy to Sandbox
      run: mvn deploy -DskipTests -DmuleDeploy -Dmule.artifact=$artifactName -Danypoint.username="$ANYPOINT_USERNAME" -Danypoint.password="$ANYPOINT_PASSWORD"
